In [1]:
import pandas as pd
from pathlib import Path
import sys
import datetime
import pandas as pd
import time


# This is sloppy, but I don't know how to fix it yet.
# This just needs to be the path to the folder where the scraping code package is stored in. 
sys.path.append(r'C:\Users\User\OneDrive\Desktop\Code\msba_edgar')
from ut_msba_edgar_scraper import Downloader
from ut_msba_edgar_scraper.msba_utils import get_cik_from_gvkey, get_gvkey_from_cik

In [22]:
df = pd.read_csv('data/company_data.csv').astype(str)
df

         gvkey    datadate fyear    tic        cik  fic gsector  loc
0         1004   5/31/1999  1998    AIR     1750.0  USA    20.0  USA
1         1004   5/31/2000  1999    AIR     1750.0  USA    20.0  USA
2         1004   5/31/2001  2000    AIR     1750.0  USA    20.0  USA
3         1004   5/31/2002  2001    AIR     1750.0  USA    20.0  USA
4         1004   5/31/2003  2002    AIR     1750.0  USA    20.0  USA
...        ...         ...   ...    ...        ...  ...     ...  ...
242487  347085   2/28/2021  2020   KARO  1828102.0  SGP    45.0  SGP
242488  351491  12/31/2019  2019  IVCGF        nan  NLD    20.0  ITA
242489  351491  12/31/2020  2020  IVCGF        nan  NLD    20.0  ITA
242490  351590  12/31/2019  2019  DTRUY  1890567.0  DEU    20.0  DEU
242491  351590  12/31/2020  2020  DTRUY  1890567.0  DEU    20.0  DEU

[242492 rows x 8 columns]

In [33]:
stock_mapping_df = pd.read_csv('https://github.com/Brandt-moreThan4/Data/blob/main/company_data.csv?raw=true') 
stock_mapping_df['datadate'] = pd.to_datetime(stock_mapping_df['datadate'])
stock_mapping_df = stock_mapping_df[stock_mapping_df.datadate >= '2000-01-01']
stock_mapping_df = stock_mapping_df.dropna()
stock_mapping_df['gvkey'] = stock_mapping_df['gvkey'].astype(str) 
stock_mapping_df['cik'] = stock_mapping_df['cik'].astype(int).astype(str)
stock_mapping_df['cik'] = stock_mapping_df['cik'].str.zfill(10)
stock_mapping_df

         gvkey   datadate  fyear    tic         cik  fic  gsector  loc
1         1004 2000-05-31   1999    AIR  0000001750  USA     20.0  USA
2         1004 2001-05-31   2000    AIR  0000001750  USA     20.0  USA
3         1004 2002-05-31   2001    AIR  0000001750  USA     20.0  USA
4         1004 2003-05-31   2002    AIR  0000001750  USA     20.0  USA
5         1004 2004-05-31   2003    AIR  0000001750  USA     20.0  USA
...        ...        ...    ...    ...         ...  ...      ...  ...
242485  347085 2019-02-28   2018   KARO  0001828102  SGP     45.0  SGP
242486  347085 2020-02-29   2019   KARO  0001828102  SGP     45.0  SGP
242487  347085 2021-02-28   2020   KARO  0001828102  SGP     45.0  SGP
242490  351590 2019-12-31   2019  DTRUY  0001890567  DEU     20.0  DEU
242491  351590 2020-12-31   2020  DTRUY  0001890567  DEU     20.0  DEU

[186850 rows x 8 columns]

In [5]:
get_gvkey_from_cik('1890567')

'351590'

In [32]:
stock_mapping_df

         gvkey   datadate  fyear    tic      cik  fic  gsector  loc
1         1004 2000-05-31   1999    AIR     1750  USA     20.0  USA
2         1004 2001-05-31   2000    AIR     1750  USA     20.0  USA
3         1004 2002-05-31   2001    AIR     1750  USA     20.0  USA
4         1004 2003-05-31   2002    AIR     1750  USA     20.0  USA
5         1004 2004-05-31   2003    AIR     1750  USA     20.0  USA
...        ...        ...    ...    ...      ...  ...      ...  ...
242485  347085 2019-02-28   2018   KARO  1828102  SGP     45.0  SGP
242486  347085 2020-02-29   2019   KARO  1828102  SGP     45.0  SGP
242487  347085 2021-02-28   2020   KARO  1828102  SGP     45.0  SGP
242490  351590 2019-12-31   2019  DTRUY  1890567  DEU     20.0  DEU
242491  351590 2020-12-31   2020  DTRUY  1890567  DEU     20.0  DEU

[186850 rows x 8 columns]

In [23]:
lol = get_cik_from_gvkey('347085','2020-01-01')
lol

'0001828102'

In [24]:
lookup = df.set_index(keys='gvkey')

In [25]:
lookup

          datadate fyear    tic        cik  fic gsector  loc
gvkey
1004     5/31/1999  1998    AIR     1750.0  USA    20.0  USA
1004     5/31/2000  1999    AIR     1750.0  USA    20.0  USA
1004     5/31/2001  2000    AIR     1750.0  USA    20.0  USA
1004     5/31/2002  2001    AIR     1750.0  USA    20.0  USA
1004     5/31/2003  2002    AIR     1750.0  USA    20.0  USA
...            ...   ...    ...        ...  ...     ...  ...
347085   2/28/2021  2020   KARO  1828102.0  SGP    45.0  SGP
351491  12/31/2019  2019  IVCGF        nan  NLD    20.0  ITA
351491  12/31/2020  2020  IVCGF        nan  NLD    20.0  ITA
351590  12/31/2019  2019  DTRUY  1890567.0  DEU    20.0  DEU
351590  12/31/2020  2020  DTRUY  1890567.0  DEU    20.0  DEU

[242492 rows x 7 columns]

In [30]:
lookup.loc['351590']

          datadate fyear    tic        cik  fic gsector  loc
gvkey
351590  12/31/2019  2019  DTRUY  1890567.0  DEU    20.0  DEU
351590  12/31/2020  2020  DTRUY  1890567.0  DEU    20.0  DEU

In [6]:
# df = pd.read_csv('company_data.csv')