In [10]:
import pydrive
import pandas as pd

# from pydrive.auth import GoogleAuth
# from pydrive.drive import GoogleDrive
# gauth = GoogleAuth()           
# drive = GoogleDrive(gauth)

In [11]:
# log_df = pd.read_csv('logs/log_2022-03-19-09_37_01.426590.csv')

In [12]:
# hits = log_df.hit
# hit = hits[0]
# eval(hit)

In [13]:
import pandas as pd
from pathlib import Path
import sys

import pandas as pd
import time

sys.path.append(r'C:\Users\User\OneDrive\Desktop\Code\msba_edgar')
from ut_msba_edgar_scraper import Downloader
from ut_msba_edgar_scraper.msba_utils import get_ratings_df
ratings_df = get_ratings_df() # this is our scraping universe
gvkeys = ratings_df['gvkey'].unique()
print(f'unique gvkeys = {len(gvkeys)}')

unique gvkeys = 3414

In [14]:
# df_master_log.columns

In [15]:
def read_master_log():
    df = pd.read_csv('logs/master_log.csv')
    df['gvkey'] = df['gvkey'].astype(str)
    return df.iloc[:,1:].copy()

df_master_log = read_master_log()

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3361: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [16]:
ratings_df.gvkey.isin(df_master_log.gvkey.values)

0          True
1          True
2          True
3          True
4          True
          ...
329181    False
329182    False
329183    False
329184    False
329185    False
Name: gvkey, Length: 328959, dtype: bool

In [17]:
import numpy as np

In [18]:
last_key = df_master_log.iloc[-1].gvkey

In [19]:
gvkeys = ratings_df.gvkey.unique()

In [20]:
125094

125094

In [21]:
gvkeys[np.where(gvkeys==last_key)[0][0]:]

array(['160225', '160233', '160255', '160272', '160282', '160329',
       '160341', '160533', '160541', '160570', '160580', '160598',
       '160601', '160630', '160632', '160661', '160670', '160681',
       '160682', '160683', '160684', '160718', '160719', '160838',
       '160861', '160865', '160874', '160892', '160893', '160912',
       '160949', '160958', '160990', '160991', '161000', '161013',
       '161036', '161039', '161048', '161056', '161064', '161072',
       '161075', '161120', '161844', '161877', '161953', '161966',
       '161994', '162076', '162127', '162129', '162160', '162198',
       '162264', '162272', '162283', '162336', '162385', '162401',
       '162448', '162459', '162586', '162610', '162733', '162739',
       '162796', '162894', '162897', '162909', '162928', '163036',
       '163042', '163113', '163118', '163124', '163429', '163586',
       '163610', '163627', '163629', '163669', '163680', '163765',
       '163768', '163772', '163877', '163879', '163890', '163916',
       '163921', '163935', '163939', '163948', '163963', '163983',
       '163984', '164001', '164002', '164058', '164099', '164132',
       '164247', '164271', '164296', '164408', '164422', '164433',
       '164494', '164506', '164543', '164606', '164607', '164660',
       '164661', '164668', '164708', '164756', '164758', '165052',
       '165123', '165164', '165252', '165264', '165358', '165360',
       '165371', '165414', '165466', '165556', '165640', '165649',
       '165652', '165653', '165675', '165699', '165702', '165731',
       '165734', '165746', '165844', '165845', '165846', '165855',
       '165856', '165909', '165993', '166061', '166199', '166208',
       '166357', '166381', '166433', '166436', '166451', '166458',
       '166482', '166554', '166562', '166593', '166705', '166746',
       '170297', '170375', '170384', '170418', '170527', '170620',
       '170639', '170748', '170750', '170781', '170791', '170841',
       '170965', '171023', '171049', '171059', '171078', '171139',
       '174022', '174049', '174108', '174130', '174169', '174183',
       '174222', '174265', '174317', '174490', '174656', '174703',
       '174729', '174875', '175006', '175007', '175087', '175092',
       '175157', '175263', '175308', '175319', '175343', '175399',
       '175426', '175510', '175739', '175741', '175834', '175900',
       '175903', '175995', '176040', '176070', '176096', '176239',
       '176248', '176249', '176268', '176282', '176404', '176523',
       '176590', '176595', '176639', '176659', '176760', '176833',
       '176872', '176899', '176914', '176928', '176939', '177088',
       '177108', '177109', '177124', '177216', '177225', '177288',
       '177303', '177376', '177397', '177405', '177429', '177637',
       '177697', '177739', '177745', '177782', '177827', '177882',
       '177884', '177896', '177953', '177966', '178201', '178453',
       '178507', '178529', '178538', '178539', '178540', '178543',
       '178568', '178608', '178610', '178633', '178684', '178798',
       '178814', '178851', '178855', '178863', '178870', '178921',
       '179027', '179077', '179094', '179110', '179236', '179437',
       '179534', '179577', '179621', '179657', '179690', '179707',
       '179741', '179782', '179819', '179831', '179925', '180016',
       '180029', '180145', '180167', '180193', '180272', '180395',
       '180402', '180405', '180483', '180652', '180659', '180833',
       '181104', '181269', '181745', '181904', '181931', '181989',
       '182116', '182350', '182701', '182788', '183257', '183366',
       '183388', '183570', '183581', '183635', '183640', '183684',
       '183995', '184035', '184040', '184058', '184254', '184258',
       '184262', '184287', '184323', '184442', '184449', '184498',
       '184500', '184536', '184537', '184619', '184676', '184700',
       '184748', '184785', '184796', '184807', '184868', '184880',
       '184899', '184954', '184996', '185018', '185179', '185277',
       '185334', '185337', '185344', '185363', '185370', '185375',
       '185429', '185532', '185549', '185584', '185618', '185624',
       '185645', '185654', '185797', '185894', '185952', '185953',
       '185980', '186139', '186206', '186276', '186278', '186310',
       '186311', '186342', '186392', '186431', '186452', '186497',
       '186501', '186773', '186783', '186858', '186960', '186989',
       '187075', '187084', '187128', '187215', '187255', '187406',
       '187491', '187529', '187690', '187698', '187740', '187774',
       '187812', '187814', '187833', '187855', '187961', '188255',
       '188663', '189459', '189462', '189490', '189491', '189517',
       '189593', '190957', '191255', '192255', '194755', '194956',
       '197559', '199456', '259837', '260086', '260298', '260408',
       '260583', '260778', '260996', '261215', '263562', '264386',
       '264388', '264509', '265008', '265188', '266163', '266257',
       '266315', '285536', '311524'], dtype=object)

In [22]:
np.where(gvkeys==last_key)[0][0]

2973

In [23]:
# ratings_df = get_ratings_df()
ratings_df[ratings_df.gvkey.isin(df_master_log.gvkey.values)]

         gvkey splticrm   datadate      cik  fic  gsector  loc  tic
0         1004      BBB 2000-01-31     1750  USA     20.0  USA  AIR
1         1004      BBB 2000-02-29     1750  USA     20.0  USA  AIR
2         1004      BBB 2000-03-31     1750  USA     20.0  USA  AIR
3         1004      BBB 2000-04-30     1750  USA     20.0  USA  AIR
4         1004      BBB 2000-05-31     1750  USA     20.0  USA  AIR
...        ...      ...        ...      ...  ...      ...  ...  ...
302144  160225        A 2016-10-31  1141391  USA     45.0  USA   MA
302145  160225        A 2016-11-30  1141391  USA     45.0  USA   MA
302146  160225        A 2016-12-31  1141391  USA     45.0  USA   MA
302147  160225        A 2017-01-31  1141391  USA     45.0  USA   MA
302148  160225        A 2017-02-28  1141391  USA     45.0  USA   MA

[186045 rows x 8 columns]

In [24]:
ratings_df

         gvkey splticrm   datadate      cik  fic  gsector  loc  tic
0         1004      BBB 2000-01-31     1750  USA     20.0  USA  AIR
1         1004      BBB 2000-02-29     1750  USA     20.0  USA  AIR
2         1004      BBB 2000-03-31     1750  USA     20.0  USA  AIR
3         1004      BBB 2000-04-30     1750  USA     20.0  USA  AIR
4         1004      BBB 2000-05-31     1750  USA     20.0  USA  AIR
...        ...      ...        ...      ...  ...      ...  ...  ...
329181  311524       B+ 2014-07-31  1547063  USA     15.0  USA  TAM
329182  311524       B+ 2014-08-31  1547063  USA     15.0  USA  TAM
329183  311524       B+ 2014-09-30  1547063  USA     15.0  USA  TAM
329184  311524       B+ 2014-10-31  1547063  USA     15.0  USA  TAM
329185  311524       B+ 2014-11-30  1547063  USA     15.0  USA  TAM

[328959 rows x 8 columns]

In [25]:
df_master_log.gvkey.values

array(['1004', '1004', '1004', ..., '160225', '160225', '160225'],
      dtype=object)

In [26]:
import numpy as np

In [34]:
(np.where('311524'==gvkeys)[0]+1)/len(gvkeys)

array([1.])